.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.card-container-div {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background: #9edef9;
  padding: 12px;
  border-radius: 1rem;
  margin: 20px;
  width: 300px;
  height: 320px;
}
