@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fceec8;
  height: 100vh;
}

input[type="number"] {
  padding: 0px 10px;
  margin: 8px;
  width: 16vw;
  height: 34px;
  border: 1px solid black;
}

button {
  white-space: nowrap;
  width: 5vw;
  background: black;
  color: white;
  border: 0;
  height: 38px;
}

button:hover {
  cursor: pointer;
  background: grey;
}

img {
  display: block;
  width: 100%;
}

section {
  margin: 6px;
}
